    .mdl-list__item:hover{
          background: lavender;
      }
      #uid_text{
          border: 1px solid lavender;
          border-radius: 3px;
          padding: 7px;
      }
      .mdl-list__item-avatar{
          width: 30px !important;
          height: 30px!important;
          font-size: 30px !important;
      }
      body{
          font-size: 16px;
      }
      a{
          text-decoration: none;
          color: #333333;
      }
      a:hover{
          color: darkblue;
      }
      .header_text{
          text-align: center;
          font-size: 1.2em;
          color:darkblue;        
    }
    .mdl-textfield__input{
        border: 1px solid lavender;
        text-align: left;
        padding: 5px;
        width: 100%;
    }
